## Activity 06: Filtering, Sorting, and Reshaping

Following up on the last activity, we are asked to deliver some more complex operations.   
We will, therefore, continue to work with the same dataset, our `world_population.csv`.

#### Loading the dataset

In [16]:
# importing the necessary dependencies
import pandas as pd

In [17]:
# loading the Dataset
dataset = pd.read_csv('./data/world_population.csv', index_col=0)

In [18]:
# looking at the data
dataset[:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

---

#### Filtering

To get better insights into our dataset, we want to only look at the value that fulfills certain conditions.   
Our client reaches out to us and asks us to provide lists of values that fulfills these conditions:
- a new dataset that only contains 1961, 2000, and 2015 as columns
- all countries that in 2000 had a greater population density than 500
- a new dataset that only contains years 2000 and later
- a new dataset that only contains countries that start with `A`
- a new dataset that only contains countries that contain the word `land`

In [19]:
# filtering columns 1961, 2000, and 2015

In [20]:
# filtering countries that had a greater population density than 500 in 2000

In [21]:
# filtering for years 2000 and later

In [22]:
# # filtering countries that start with A

In [23]:
# filtering countries that contain the word land

---

#### Sorting

They also want to get some better insights into their data so they ask you to also deliver these datasets to understand the population growth better:
- values sorted in ascending order by 1961
- values sorted in ascending order by 2015
- values sorted in descending order by 2015

In [24]:
# values sorted by column 1961

In [25]:
# values sorted by column 2015

**Note:**   
Comparisons like this are very valuable to get a good understanding not only of your dataset but also the underlying data itself.   
For example, here we can see that the ranking of the lowest densely populated countries changed.

In [26]:
# values sorted by column 2015 in descending order

---

#### Reshaping

In order to create a visualization that focuses on 2015, they ask you to create a subset of your FataFrame which only contains one row that which holds all the values for the year 2015 mapped to the country codes as columns.   

They've sent you this scribble:   
```
Country Code    ABW    AFG    AGO   ...
----------------------------------------
        2015    577     49     20   ...
```

> They were lazy so they didn't write the digits after the comma. Make sure to keep the original values

In [27]:
# reshaping to 2015 as row and country codes as columns