In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/CustomersTransactions2021.csv')
df.shape

### BOXPLOT

In [3]:
#plot a box plot example
plt.boxplot(df['txn_total'])
plt.title("boxplot of Txn Amount in $")
plt.xlabel("Txn_amount")
plt.ylabel("ranges")

### SubPlot

In [4]:
df.head()

In [5]:
df['Customers'].unique()

In [6]:
df[df['Customers'] == 'Delilah Avery']

In [7]:
df.rename(columns={'id': 'txn_id'}, inplace=True)

df.columns

In [8]:
fig, ((ax1, ax2, ax3), (ax4, ax5, ax6)) = plt.subplots(2, 3, figsize=(15, 5), sharex=True, sharey=True)
ax1.plot(df[df['Customers'] == 'Johnny Awesome']['txn_id'], df[df['Customers'] == 'Johnny Awesome']['txn_total'],
         'r--*')
ax1.set_title('Johnny Awesome Transactions')

ax2.plot(df[df['Customers'] == 'Bob Marley']['txn_id'], df[df['Customers'] == 'Bob Marley']['txn_total'], 'y--*')
ax2.set_title('Bob Marley Transactions')

ax3.plot(df[df['Customers'] == 'Taylor Swift']['txn_id'], df[df['Customers'] == 'Taylor Swift']['txn_total'], 'g--*')
ax3.set_title('Taylor Swift Transactions')

ax4.plot(df[df['Customers'] == 'Stephen Smith']['txn_id'], df[df['Customers'] == 'Stephen Smith']['txn_total'], 'b--*')
ax4.set_title('Stephen Smith Transactions')

ax5.plot(df[df['Customers'] == 'Delilah Avery']['txn_id'], df[df['Customers'] == 'Delilah Avery']['txn_total'], 'g--*')
ax5.set_title('Delilah Avery Transactions')

ax6.plot(df[df['Customers'] == 'Johnson Cory']['txn_id'], df[df['Customers'] == 'Johnson Cory']['txn_total'], 'r--*')
ax6.set_title('Johnson Cory Transactions')

Notes
* created a subplot of 2 rows and 3 columns of plots
* sharex and sharey displays the graduations on the spie of the subplots, in other words the units of the x and y axis are only shown to the extreme left side and the base on the subplot
* to plot on a specific subplot, use the associated label, ax1, ax2, etc
* the syntax for a straight line plot is plt.plot(x,y)

In [9]:
fig, ((ax1, ax2, ax3, ax4), (ax5, ax6, ax7, ax8)) = plt.subplots(2, 4, figsize=(15, 5), sharex=True, sharey=True)
ax1.plot(df[df['Customers'] == 'Johnny Awesome']['txn_id'], df[df['Customers'] == 'Johnny Awesome']['txn_total'],
         'r--*')
ax1.set_title('Johnny Awesome Transactions')

ax2.plot(df[df['Customers'] == 'Bob Marley']['txn_id'], df[df['Customers'] == 'Bob Marley']['txn_total'], 'y--*')
ax2.set_title('Bob Marley Transactions')

ax3.plot(df[df['Customers'] == 'Taylor Swift']['txn_id'], df[df['Customers'] == 'Taylor Swift']['txn_total'], 'g--*')
ax3.set_title('Taylor Swift Transactions')

ax4.plot(df[df['Customers'] == 'Stephen Smith']['txn_id'], df[df['Customers'] == 'Stephen Smith']['txn_total'], 'y--*')
ax4.set_title('Stephen Smith Transactions')

ax5.plot(df[df['Customers'] == 'Delilah Avery']['txn_id'], df[df['Customers'] == 'Delilah Avery']['txn_total'], 'g--*')
ax5.set_title('Delilah Avery Transactions')

ax6.plot(df[df['Customers'] == 'Johnson Cory']['txn_id'], df[df['Customers'] == 'Johnson Cory']['txn_total'], 'r--*')
ax6.set_title('Johnson Cory Transactions')

ax7.plot(df['txn_id'], df['txn_total'], 'g--*')  #label="TRANSACTION_DOLLARS")
ax7.set_title('All Customer Transactions')

In [10]:
plt.subplots()

### BarGraph

In [11]:
# for each banking category, find the total_amount spent in it:

df.groupby('Category')['txn_total'].sum()

In [12]:
# for each banking category, find the total_amount spent in it:

x1 = df.groupby('Category').aggregate({'txn_total': 'sum'})

x1

In [13]:
# create a bar-graph for this categorization

x1.plot(kind='bar')

In [14]:
# create a bar-graph for this categorization and sort values in descending order

x1 = x1.sort_values(by='txn_total', ascending=False)

x1.plot(kind='bar')

In [15]:
# annotate each bar

# x1.category
# print(x1['txn_total'])

y1 = x1.plot(kind='bar')

print(y1.containers[0])

x1.plot(kind='bar', legend=False).bar_label(y1.containers[0])

plt.show()
# 
# for x, y in zip(x1['txn_total'], x1['Category']):
#     print(x, y)
# label = '{:.2f}'.format(x)
# plt.annotate(label, xy=(x, y))

In [16]:
# x1.plot(kind='bar')
# 
# for idx in x1.itertuples():
#     label = f'{idx[1]}'
#     print(idx[0], idx[1], label)
#     plt.annotate(idx[1], (idx[0], idx[1]))

In [17]:
sorted_df = df.groupby('Category').agg({'txn_total': 'sum'}).sort_values('txn_total', ascending=True)

amounts = sorted_df['txn_total']

amounts

In [18]:
for idx, amount in enumerate(amounts):
    plt.text(idx, amount, amount, ha='center')

plt.bar(sorted_df.index, amounts, color=['blue', 'cyan', 'green'])

In [19]:
# for each banking category, find the total amount paid via each payment method

k1 = df.groupby(['Category', 'txn_type']).agg({'txn_total': 'sum'})

k1.plot(kind='bar')

In [20]:
k1.unstack('txn_type').plot(kind='bar', stacked=True)